.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    height: 100vh;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 20px;
    user-select: none;
  }
  
  .logo-container {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
    filter: drop-shadow(0 0 10px rgba(255, 255, 0, 0.7));
    transition: filter 0.3s ease-in-out;
    cursor: pointer;
  }

  @keyframes glow {
    0% {
      filter: drop-shadow(0 0 10px rgba(255, 255, 0, 0.7));
    }
    50% {
      filter: drop-shadow(0 0 20px rgba(255, 255, 0, 1));
    }
    100% {
      filter: drop-shadow(0 0 10px rgba(255, 255, 0, 0.7));
    }
  }

  .logo-container:active .logo {
    animation: glow 0.5s ease-in-out;
  }

.logo-container:hover .logo {
    filter: drop-shadow(0 0 20px rgba(255, 255, 0, 1));
  }
  
  .header-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
  }

/* Estrellas */
.stars-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
  }
  
  .star {
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    background-color: yellow;
    clip-path: polygon(48% 0%, 62% 34%, 91% 8%, 84% 53%, 100% 64%, 70% 70%, 91% 95%, 42% 76%, 11% 96%, 15% 58%, 0 28%, 35% 29%);
    opacity: 1;
    animation: fall 3s linear forwards;
  }
  
  @keyframes fall {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: translateY(90vh);
      opacity: 0;
    }
  }

  
  @media (max-width: 768px) {
    .header {
      width: 100%;
      height: 60px;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      writing-mode: horizontal-tb; /* Cambia el texto a horizontal */
      transform: none;
    }
  
    .logo-container {
      display: none;
    }
  
    .header-text {
      writing-mode: horizontal-tb; /* Asegura que el texto sea horizontal */
      transform: none; /* Elimina la rotación */
    }
  }
  